mat-form-field {
  background-color:#f0f4f5;  
  // margin-left: 120px;  
  margin-left: 10%;
  width: 80%;
  margin-top: 20px;
}

::ng-deep .mat-form-field-wrapper {
 padding-bottom: 0;
}

mat-icon{
  //  margin-right: 10px;
  margin-right: 2%;
}

::ng-deep .mat-form-field-underline {
  width:0px !important;
}

.searchBar{
    display: flex;
}

.filter-tab{
    margin-left: 72%;
    width:10%;
}

.something{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.product-container{
  height:auto;
  margin-left: 140px;
}

@media(max-width:600px){
  .something{
    grid-template-columns: 1fr 1fr;
  }
  .product-container{
    padding: 24px;
    justify-content: center;
  }
  mat-label{
    display: none;
  }
  .searchBar{
    justify-content: center;
  }
}

@media(max-width:450px){
  .something{
    grid-template-columns: 1fr;
  }
  .product-container{
    padding: 24px;
    justify-content: center;
  }
  mat-label{
    display: none;
  }
  .searchBar{
    justify-content: center;
  }
}