<mat-form-field appearance="outline">
    <div class="searchBar">
        <div>
            <mat-icon>search</mat-icon>
        </div>
        <div>
            <input matInput [(ngModel)]="searchText" (ngModelChange)="onSearch()">
        </div>
    </div>
</mat-form-field>
<div class="filter-tab">
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="onFilterChange($event.value)">
            <mat-option value="price" >price</mat-option>
            <mat-option value="deliveryDays">deliveryDays</mat-option>
            <mat-option value="rating">rating</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="product-container">
    <div class="something">
        <app-product-card *ngFor="let product of filteredProducts" [product]="product"></app-product-card>
    </div>
</div>

