<form class="registerForm"  [formGroup]="regForm">
    <div class="registerDiv">
        <div class="inputFields">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Enter Your Name" name="name" formControlName="name" required>
                <mat-error *ngIf="regForm.get('name')?.hasError('required')">Name is required</mat-error>
              </mat-form-field>
        </div>
        <div class="inputFields">
            <mat-form-field>
                <mat-label>Mobile Number</mat-label>
                <input type="text" matInput placeholder="7569906878" name="mobileNumber" formControlName="mobileNumber" required pattern="[0-9]{10}">
                <mat-error *ngIf="regForm.get('mobileNumber')?.hasError('required')">
                    Mobile Number is required
                </mat-error>
                <mat-error *ngIf="regForm.get('mobileNumber')?.hasError('pattern')">
                    Mobile Number must be 10 digits
                </mat-error>
              </mat-form-field>
        </div>
        <div class="inputFields">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Enter Email" name="email" formControlName="email" required email>
                <mat-error *ngIf="regForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="regForm.get('email')?.hasError('email')">
                    Enter a valid email
                </mat-error>
              </mat-form-field>
        </div>
        <div class="inputFields">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="Enter Password" name="password" formControlName="password">
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="onSubmit()">Sign Up</button>
        </div>
    </div>
  </form>
  